body {
    width: 100%;
    height: 100%;
    margin: 0;
    background: url(/nouveau/img/map.png) no-repeat center fixed black;
    /* background-position: 0;
    background-size: 85%; */
}

.argent {
    margin-left: 5%;
    margin-right: 5%;
    color: chocolate;
    background-color: aqua;
}

.entete {
    background-color: whitesmoke;
    border-radius: 4px;
    margin-left: 0%;
    margin-right: 90%;
    color: goldenrod;
    left: 500px;
}

.reload {
    color: blue
}

.acheterMerguezazor {
    margin-left: 50%;
    margin-top: 16%;
    background-color: goldenrod;
    border-color: goldenrod;
    color: black;
    border-radius: 4px;
}

.acheterBeuhnoie {
    margin-left: 50%;
    margin-top: 6%;
    background-color: goldenrod;
    border-color: goldenrod;
    color: black;
    border-radius: 4px;
}