<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Game</title>

  <script>
		
		var argent = 100
		var gain = 1;
		
		function deduireValeur(valeur) {
			if (argent >= valeur) {
				argent -= valeur;
				document.getElementById("argent").innerHTML = argent;
			} else {
				alert("tu es pauvre");
			}
		}

		function ajouterGain() {
	
			argent += 1;
			
      document.getElementById("argent").innerHTML = argent+=gain;
      document.getElementById("argent").innerHTML = (argent.toFixed(2));

		}
		
		function ameliorerGain() {
			gain *= 1.15;
     
			// Mise à jour de l'affichage du bouton "Gain"
			document.getElementById("bouton-gain").innerHTML = "Ajouter " + (gain.toFixed(2)) + " €";
     
      // document.getElementById("argent").innerHTML = argent-=gain;

		}
	</script>

</head>
  <body>
    <p>Votre argent : <span id="argent">100</span> €</p>

    <button onclick="deduireValeur(10)">Déduire 10 €</button>

    <button id="bouton-gain" onclick="ajouterGain()">Ajouter€</button>
    <button onclick="ameliorerGain()">Améliorer</button>
  
  
  </body>
</html>